<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} Hybrid Search Engine {% endblock %}</title>
    <style>
        /* Smooth scrolling for a better UX */
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body class="flex flex-col min-h-full bg-gray-50 font-sans antialiased text-gray-900 wrap-break-word">


    <main class="flex-grow w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">

        <div class="flex flex-col">
            {% block content %}
            {% endblock %}
        </div>

    </main>

    <footer class="bg-white border-t border-gray-200 py-6">
        <div class="max-w-7xl mx-auto px-4 text-center text-sm text-gray-500">
            &copy; 2026 Hybrid Search Engine. All rights reserved.
        </div>
    </footer>

</body>

</html>